@import "../index.css";
.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    background-image: url("../../public/Background.png");
    background-repeat: no-repeat;   
    background-position: center; 
    background-size: cover;
}
.heroContainer > h1 {
    font-family: 'EditUndo', sans-serif;
    text-align: center;
    color: var(--text-color-oposite);
    text-shadow: 6px 6px 0px #000; 
}