:root {
  font-family: Gilroy, sans-serif;
  --bg: #FFFFFF;
  --item-bg: #F7FAFC;
  --details-bg: #E2E8F0;
  --primary-color: #103054;
  --sidebar-bg: #EDF2F7;
  --three-dots: #718096;
  --heading-nav: #4299E1;
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  background-color: #f4f4f4;
  color: #333;
}