.edit-tag-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-overlay-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.edit-tag-modal__modal {
  background: var(--modal-background);
  padding: 1rem;
  border-radius: var(--modal-border-radius);
  box-shadow: var(--modal-shadow);
  width: 90%;
  max-width: 400px;
  position: relative;
}

.edit-tag-modal__close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.edit-tag-modal__header {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--primary-text-color);
}

.edit-tag-modal__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.edit-tag-modal__list-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.edit-tag-modal__tag-name {
  flex: 1;
  color: var(--primary-text-color);
}

.edit-tag-modal__button {
  background: var(--button-background);
  color: var(--button-text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 5px;
}

.edit-tag-modal__button:hover {
  background: var(--button-background-hover);
}

.edit-tag-modal__actions {
  margin-top: 20px;
  text-align: center;
}

.edit-tag-modal__sub-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-overlay-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

@media (min-width: 768px) {
  .edit-tag-modal__modal {
    max-width: 500px;
  }
}
